Source: pifi
Maintainer: Rohan Agrawal <send2arohan@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper-compat (= 13), dh-python, python3, python3-setuptools

Package: pifi
Architecture: all
Depends: ${misc:Depends}, python3, python3-empy, python3-yaml, python3-evdev
Description: A headless WiFi provisioning system, primarily designed for robots with Raspberry Pi's.
